body{                               /* WILL FIX LATER*/
    font-family: Montserrat;
    width: 100vw;
}
            /*It is a container for fixed Width. will be used all over the page*/
                            /****To center the content****/
.container-fixed-width{
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
}

/*SECTION:  HEADER --------START-------------*/


                        /*********** HEADER :  general ************/
header{

    height: 1010px;
    display: flex;
    flex-direction: column;
    background:  linear-gradient(0deg,
    rgba(99, 99, 99, 0.5),
            rgba(99, 99, 99, 0.5)),
                url("../img/Sections background/section-1(header).jpg"),no-repeat,fixed;
    color: #ffffff;
    background-attachment: fixed;

}
                        /*********** HEADER :  nav bar ************/
.header-nav{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(76, 77, 67, 0.5);
}
                        /*************LOGO**************/
                /*!!!!!     LOGO is created with css     !!!!!*/
.logo{
    display: flex;
    flex:1;
    font-size: 25px;
    cursor: pointer;
}

.logo-item{
    width: 40px;
    height: 25px;
    background: #18cfab;
    position: relative;
    display: flex;
    align-items: center;

}
.logo-item:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #18cfab;
}
.logo-item:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 10px solid #18cfab;
}

.logo-item > span{
    margin: 0 auto;
    font-weight: bold;
}
.logo-text{
    margin-left: 5px;
}
.logo-text-Ham{
    font-weight: bold;
    color: #18cfab;
}

               /*****************NAV BAR LINKS (buttons)**********************/
.nav-links{
    flex:1;
    display: flex;
    font-size: 15px;
    height: 100%;
}

.nav-links-item{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 10px;
    height: 100%;
}

.nav-links-item:hover{

    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

            /*****************HEADER CONTENT (MAIN-TEXT)**********************/

.header-content{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.header-content>h2{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-content>h2>span{
    color: #18cfab;
}

.header-content > h1{
    margin-top: 35px;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-content > p{
    margin-top: 25px;
    font-size: 27px;
}


                /*****************HEADER BUTTONS **********************/
.header-buttons{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.header-btn{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 165px;
    border-top: 3px solid white;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    border-radius: 8px;
}

.explore{
    background-color: #18cfab;
}

.purchase{
    background-color: #00cbf6;
}


/*SECTION:  HEADER --------END-------------*/


/*SECTION:  SECOND --------START-------------*/
.section-second{
    display: flex;
}
.section-second>div{
    height: 375px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-second>div>h3{
    margin-bottom: 120px;
}
.section-second>div>img{
    margin-top: 100px;
}
.dark{
    color: #18cfab;
    border-top: 5px solid #18cfab;
    background-color: #1c2a33;
}

.light{
    border-top: 5px solid #1c2a33;
    background-color: #18cfab;
    color: white;
}

/*SECTION:  SECOND --------END-------------*/


/*SECTION:  OUR SERVICES --------START-------------*/
.our-services{
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.our-services-header{
    font-size: 36px;
    margin-top: 80px;

}

.green-line{
    width: 75px;
    height: 2px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin-top: 35px;
    transform: skew(70deg);
}

/*Our services buttons:*/
.our-services-buttons{
    width: 100%;
    display: flex;
margin-top: 70px;
}

.our-services-buttons-item{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 1px solid #dbdbdb;
    background-color: #f8fcfe;
    cursor: pointer;
}
.active-button{
    background-color: #18cfab;
    color: white;
    position: relative;
}
.active-button::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: calc(100% / 2 - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #18cfab transparent transparent transparent;
}
/*Our services content:*/
.our-services-content{
    margin-top: 25px;
    margin-bottom: 100px;
    flex: 1;
    display: flex;

}

.our-services-image{
    width: 190px;
    height: 140px;
    flex: 1;
    display: none;
}

.our-services-text{
    flex: 5;
    font-size: 16px;
    margin-left: 20px;
    display: none;
}

.active-content{
    display: inline-block;
}
/*SECTION:  OUR SERVICES --------END-------------*/

/*SECTION:  SECTION PURCHASE --------START-------------*/

.section-purchase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url("../img/Sections background/section-2.jpg"),no-repeat,fixed;
    color: #ffffff;
    background-attachment: fixed;
}

.section-purchase-header{
    color: #18cfab;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-top: 130px;
}

.section-purchase-text{
    font-size: 16px;
    margin-top: 35px;
}

.section-purchase-button{
    margin-top: 80px;
    margin-bottom: 130px;
    color: white;
    height: 60px;
    width: 165px;
    text-decoration: none;
    border-top: 3px solid white;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}



/*SECTION:  SECTION PURCHASE --------END-------------*/

/*SECTION:  SECTION Our Amazing Work --------START-------------*/
.our-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf3f7;
    border-bottom: 1px solid #e1e1e1;
}

.our-work-header{
    font-size: 36px;
    margin-top: 85px;
}
.our-work-buttons{

    display: flex;
    margin-top: 70px;

    font-size: 13px;
}

.our-work-images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;

}

.our-work-images-item{
    background-size: cover;
    width: 25%;
    height: 205px;

    /***************/
}

.our-work-buttons-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: #717171;
    background-color: white;
    width: 120px;
    height: 60px;
    cursor: pointer;
}
.our-work-buttons-active{
    color: #18cfab;
    border-top: 2px solid #18cfab;
}
.load-more-button{
    width: 165px;
    height: 60px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background-color: #18cfab;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 100px;
}
.load-more-button>p{
    font-size: 25px;
    margin-right: 10px;
    padding-top: 5px;
}
/**************************/
/* CONTAINER FOCUS STYLES*/


.container-focus{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top: 2px solid #18cfab;
}

.container-focus-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.container-focus-icons > img
{
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
}
.container-focus-icons-1
{
    padding: 15px;
    border: 1px solid #18cfab;
}
.container-focus-icons-2{
    padding: 18px;
    background-color: #18cfab;
}

.container-focus-header{
    cursor: pointer;
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
    color: #18cfab;
}
.container-focus-text{
    margin-top: 14px;
    font-size: 20px;
    color: #919292;
}

/**************************/
/*SECTION:  SECTION Our Amazing Work --------END-------------*/

/*SECTION:  SECTION BREAKING NEWS --------START-------------*/
.section-breaking-news{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.breaking-news-header{
    font-size: 36px;
    margin-top: 85px;
}

.news-card-box{
    margin-top: 70px;
    margin-bottom: 135px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-card-box-item{
    display: flex;
    flex-direction: column;
    height: 280px;
    width: calc(100% /4 - 15px);
    margin-bottom: 40px;
    cursor: pointer;
}
.box-item-img{
    flex: 3;
    position: relative;
}
/*------------------------------------------*/

/* Hover effect on child elements of news cards*/

.news-card-box-item:hover > .box-item-img > .news-date{
  background-color: #18cfab;
}
.news-card-box-item:hover > .box-item-info > .news-info-header{
    color: #18cfab;
}
/*------------------------------------------*/

.box-item-info{
    background-color: #f2f2f2;
    flex:1;
}

.news-date{
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    color: white;
    background-color: #203e38;
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------------------------------------------*/
/* adding images to background breaking news section*/
.img-photography{
    background-image: url("../img/breaking news/1.png");
    background-size: cover;
}
.img-fire{
    background-image: url("../img/breaking news/2.png");
    background-size: cover;
}
.img-road{
    background-image: url("../img/breaking news/3.png");
    background-size: cover;
}
.img-work{
    background-image: url("../img/breaking news/4.png");
    background-size: cover;
}
.img-birds{
    background-image: url("../img/breaking news/5.png");
    background-size: cover;
}
.img-forest{
    background-image: url("../img/breaking news/6.png");
    background-size: cover;
}
.img-lake{
    background-image: url("../img/breaking news/7.png");
    background-size: cover;
}
.img-write{
    background-image: url("../img/breaking news/8.png");
    background-size: cover;
}
/* ----------------------------------------------*/

.news-info-header{
    font-size: 19px;
    font-weight: bold;
    padding: 14px;
    color: #505050;
}

.news-info-text{
    font-size: 14px;
    padding-left: 14px;
}




/*SECTION:  SECTION BREAKING NEWS --------END-------------*/

/*SECTION:  SECTION ABOUT HAM --------START-------------*/

.about-ham{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    height: 900px;
}
.about-ham-header{
    margin-top: 100px;
    font-size: 36px;
    color: white;
}
.about-ham-icon{
    margin-top: 70px;
}

.carousel {
    height: 530px;
    overflow: hidden;
    position: relative;
}
.carousel-slider {
    display: flex;
    height: 100%;
    width: 400%;
    transition: all 0.5s;
}
.slider-content {
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;

}


.carousel-content-text{
    color: #7f898c;
    font-size: 16px;
    text-align: center;
}
.carousel-content-header{
    color: #18cfab;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}
.carousel-content-position{
    color: #7f898c;
    font-size: 16px;
    margin-top: 15px;
}
.carousel-content-photo{
    height: 140px;
    width: 140px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 2px solid #18cfab;
    box-shadow: 0 0 0 5px rgba(12, 150, 150, 0.65);
    border-radius: 50%;
}
.left, .right {
    height: 30px;
    width: 30px;
    color: #7f898c;
    border: 1px solid #7f898c;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 26px;
    font-size: 23px;
    font-weight: bold;
}

.left {
    left: 370px;

}
.right {
    right: 390px;

}
.indicators {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 360px;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
}
.indicators-item {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(12, 150, 150, 0.65);
}
.indicators-selected {
    border: 2px solid #18cfab;
    margin-top: -5px;
}
/*SECTION:  SECTION ABOUT HAM --------END-------------*/

/*FOOTER --------START-------------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22353f;
    height: 100px;
    margin-bottom: 10px;
}

.footer-text{
    font-size: 14px;
    color: white;
}

.footer-text>span{
    color: #18cfab;
}

/*FOOTER --------END-------------*/